{% extends "base.html" %}
{% block title %}Review{% endblock %}
{% block content %}


<style>
    .login,
    .image {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0a6c2e5e-efc6-4d3b-81c8-fdb3520c89fd/dfa33qh-4975603d-4c88-41ee-a585-cbf8424cca42.jpg/v1/fill/w_1192,h_670,q_70,strp/this_is_shonen_jump_background__90s_by_seal500_dfa33qh-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvMGE2YzJlNWUtZWZjNi00ZDNiLTgxYzgtZmRiMzUyMGM4OWZkXC9kZmEzM3FoLTQ5NzU2MDNkLTRjODgtNDFlZS1hNTg1LWNiZjg0MjRjY2E0Mi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sUS9tLI1FTCT9pQVIV4UclY0VZKzM8wIG-DhQI3b5Bo');
        background-size: cover;
        background-position: center center;
    }

    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-8 col-md-8  mx-auto">
                            <p class="h4 mb-4 font-weight-bold">S'inscrire</p>
                            <form action="{% url 'signup' %}" method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-dark btn-block py-2 mb-4 mt-5 font-weight-bold"
                                    type="submit" value="Log-in">Inscription</button>
                            </form>
                            <div class="small fw-medium text-black">
                                Vous etes déjà enregistrer? <a href="{% url 'login' %}" class="text-info text-decoration-none">Connecter-vous ici</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
    </div>
</div>
{% endblock %}